.green, #description span{
    color: green;
}

.red, #description p{
    color: red;
}

.blue{
    color: blue;
}

p{
    font-family: 'Roboto', sans-serif;
}

span:first-child {
    font-family: 'Roboto Thin', sans-serif;
}

span:nth-child(2) {
    font-family: 'Roboto Regular', sans-serif;
}